<div layout="vertical" layout-fill>

  <md-content flex class=body>
    <header>
      <nav-bar md-whiteframe-z2></nav-bar>
    </header>

    <md-content class="mid-content" data-ng-controller="TitleController as vm">
      <div class="main-content">
        <div layout="column" layout-gt-sm="row">
          <div flex=100>


            <md-card layout="column">
              <md-card-content layout-gt-sm="row" layout="column" layout="space-around center" style="">
                <!-- <div flex-lg=35 flex-md=70 flex-sm=80 flex-xs=100>
                  <img class="title-image" src="{{ vm.cover }}" />
                </div> -->
                
                <md-content class="title-info-wrapper" flex-gt-sm flex=100>
                 
                 
            <div style="color: #00bc8c; font-size: 35px;" ><span class="bold">
              {{ vm.title }} </span>

              <button ng-click="vm.editSeries()" ng-show="vm.adminPermission" class="edit-button" ng-click="vm.editSeries()">
                <md-icon class="search-button icon-aligned"><i class="red material-icons md-12">edit</i></md-icon>
                Edit info
              </button>
            </div>
            
				<md-divider flex=100 hide-gt-sm></md-divider>
                 
				  <div class="title-info "> <span class="bold black">Alt Names:</span> ABC, CDE</div>
				  <div class="title-info"> <span class="bold black">Author:</span> {{ vm.author }} </div>
				  <div class="title-info"> <span class="bold black">Artist:</span> A, B, C</div>
				  <div class="title-info"> <span class="bold black">Genres:</span> {{ vm.genres }} </div>
				  <div class="title-info"> <span class="bold black">Type:</span> Manga </div>
				  <div class="title-info"> <span class="bold black">Status:</span> {{ vm.status }} </div>
				  <div class="title-info"  style="text-align:justify"> <span class="bold black">Description:</span> {{ vm.description }} </div>
				  
				  <!--div class="title-info" layout="row" flex=100>
                    <div flex=50> <span class="bold">Status:</span> {{ vm.status }} </div>
                    <div flex> <span class="bold">Views:</span> {{ vm.views }} </div>
                  </div-->				  
                </md-content>
				
				<div flex-lg=40 flex-md=70 flex-sm=80 flex-xs=100 flex=40 layout="row" class="title-image-container">
                  <div class="title-image-container" flex=100>
                    <img class="title-ratio" src="assets/images/template.png" />
                    <img class="title-image" src="{{ vm.cover }}" />
                  </div>
                </div>
				
              </md-card-content>
            </md-card>
			
			<div class="title-name"><span class="bold">Chapters </span></div>
			<md-card layout="column">
				<table class="table table-hover ">
				  <thead>
					<tr style="background-color: #09bc7e; color: white; font-weight: bold;">
					  <th>Name</th>
					  <th>Date</th>
					</tr>
				  </thead>
				  <tbody>
					<tr class="volume-item" ng-repeat="item in chapList" ng-click="vm.go(item.chapterId, item.name)">
					  <td style="padding-left:10px;">  {{ item.name }} </td> <!--Chapters[i].name-->
					  <td> 1/1/2017 </td> <!--Chapters[i].date-->
					</tr>
				  </tbody>
				</table>  
			</md-card>
                
			<div class="title-name"><span class="bold">Comments</span></div>
			<md-card layout="column">
				<md-content class="title-info-wrapper" flex-gt-sm=30 flex=100>
					
					<!--số Comments, Sort by-->
					<div class="title-info" layout="row" flex=100>
						<div style="padding-top: 10px" flex=100> 
							<span class="bold" style="color: #098953;">15 comments</span>
						</div>
						<div flex=50> 
						<select style="" class="form-control" id="select">
						  <option>Sort by Best</option>
						  <option>...</option>
						</select>
						</div>
					</div>
					
					<!--input comments-->
					<div class="title-info" layout="row" flex=100>
						<div class="title-image-container" flex=5>
							<img class="title-ratio" src="assets/images/avatar.jpg" />
						</div>
						<div flex=100> 
							<input class="form-control" id="inputComment" placeholder="Join the discussion..." type="text">
						</div>
					</div>
					
					<!--Comment 1-->
					<div class="title-info" layout="row" flex=100>
						<div class="title-image-container" flex=10> <!--avatar-->
							<img class="title-ratio" src="assets/images/avatar.jpg" />
						</div>
						<div flex=100> <!--Content-->
							<h5><span class="bold" style="margin-left:10px; margin-right:10px">TheDonald</span> 2h ago</h5>
							<h5 style="margin-left:20px">Make japan great again!</h5>
							<h5><strong><span style="color:#09bc7e;margin-left:20px">35 &uarr;</span><span style="color:#EF5350; margin-left:10px; margin-right:8px">1 &darr;</span> Reply Share </strong ></h5>
						</div>
					</div>
					
					<!--Comment 2-->
					<div class="col-lg-10 col-lg-offset-1" layout="row" flex=100>
						<div class="title-image-container" flex= 10>
							<img class="title-ratio" src="assets/images/avatar.jpg" /> <!--avatar-->
						</div>
						<div flex=100 style=" margin-bottom: 20px;"> <!--Content-->
							<h6><span class="bold" style="margin-left:10px; margin-right:10px">TheAntiDonald</span> 2h ago</h6>
							<h6 style="margin-left:20px;">Oh god, please stop...</h6>
							<h6><strong><span style="color:#09bc7e; margin-left:20px">13 &uarr;</span><span style="color:#EF5350;  margin-left:10px; margin-right:8px">0 &darr;</span> Reply Share </strong></h6>
						</div>
					</div>
				</md-content>
			</md-card>
			
          </div>


          <md-button class="md-fab md-fab-bottom-right md-accent fixed-fab" ng-show="vm.adminPermission" ng-click="vm.addChapter()">
            <md-icon><i class="material-icons md-24 fab-icon-spin">playlist_add</i>
            </md-icon>
            <md-tooltip md-direction="left">
              Add new chapter
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </md-content>
  </md-content>

</div>
